[Unit]
Description=Start OBD logging on boot
After=graphical.target

[Service]
Type=simple
ExecStart=bash startlog.sh
WorkingDirectory=/home/pi/pyobd-pi
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target
