[Unit]
Description=Start OBD logging on boot
After=network.target

[Service]
ExecStart=bash startlog.sh
WorkingDirectory=/home/pi/pyobd-pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
